// Variable
@import "variables";

.nav-bar {
  width: $full;
  background-color: $white;
  font-size: 2.5vh;
  box-shadow: 0 1px 5px -2px $black;
  margin: 0 0 42px 0;
  position: fixed;

  .nav-main {
    width: $main-width;
    height: 54px;
    margin: 0 0 0 (($full - $main-width)/2);
    padding: 6px 0 0 0;
    justify-content: space-between;

    .nav-group {
      width: 50%;

      .nav-item {
        padding: 10px 0 0 1%;
        color: $gray;

        .notification-icon {
          width: 20px;
          padding: 4px 0 0 0;
        }

        .nav-avatar {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          margin: -3px 0 0 0;
        }

        .nav-link {
          font-family: Helvetica;
          font-size: 1.8vh
        }
      }

      .nav-title {
        .nav-link {
          font-family: $font-family-base-2;
          font-size: 3vh;
          margin-right: 20px;
          color: $black;
        }
      }
    }

    .nav-group:last-child {
      justify-content: flex-end;
    }
  }
}
