// Variable
@import "variables";

.item-scroll {
  .arrow {
    width: 3%;
    background-color: #f9f9f9;
    font-size: 3.2vh;
    color: #6d6d6d;
    border: 1px solid #b6b0b0;
    min-width: 20px;
    cursor: pointer;
  }

  .item-view {
    width: 30%;
    color: $black;
    background-color: $white;
    //border: 1px solid $border;
    //border-left-width: 0;
    border-width: 0;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }

  .item-view:hover {
    background-color: rgba(249, 249, 249, 0.5);
    box-shadow: inset 0 0 10px -4px #838383;
  }

  :last-child {
    border-left-width: 0;
  }
}

.input-button {
  width: 100%;
  background-color: $color;
  color: $white;
  border-width: 0;
  font-family: $font-family-base-2;
  font-size: 2.5vh;
  padding: 8px 12px;
  cursor: pointer;
}


.item-card {
  width: 96%;
  color: $black;
  padding: 14px 2%;
  background-color: $white;
  border: 1px solid $border;
  //cursor: pointer;

  .item-left {
    //width: 30%;

    .item-image {
      height: 246px;
      width: 100%;
      cursor: pointer;
      object-fit: cover;
    }
  }

  .item-body {
    //width: 68%;
    padding-left: 2%;

    .item-text {
      div {
        .item-title {
          font-size: 3.5vh;
          justify-content: space-between;
          cursor: pointer;
          user-select: none;
        }
      }

      span:first-child {
        font-family: $font-family-base-2;
        user-select: none;
        font-size: 2.7vh;
      }
    }

    .item-tag {
      height: 20px;
      width: max-content;
      border-radius: 12px;
      margin: 0 0 0 6px;
      float: left;
      background-color: $color;
      padding: 3px 9px 1px 8px;
      color: $white;
      font-weight: 500;
    }

    .item-text:first-child {
      span {
        font-size: 3.5vh;
      }

      span:first-child {
        text-decoration: underline;
      }
    }
  }
}

.item-card:hover {
  background-color: rgba(249, 249, 249, 0.5);
  box-shadow: inset 0 0 10px -4px #838383;
}