// Variables
@import 'variables';

body {
  margin: 0;
  font-family: $font-family-base, $font-family-2, $font-family-3;
  font-size: $font-size-base;
  color: $lightGray;
  background-color: $lightGray;
}

.card {
  border: 1px solid $border;
  margin: 4px 0;
  background-color: $white;
  width: $full;
}


.link-clear {
  color: inherit;
  text-decoration: none;
  transition: color, 200ms;
}

.link-clear:hover {
  color: $color;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container {
  width: $main-width + 10%;
  margin: 0 0 0 (($full - ($main-width + 10%))/2);
  .search-bar {
    padding-top: 8px;
    width: 50%;
    margin: 0 0 42px 25%;
    button {
      height: 33px;
      width: 9%;
      margin: 0 -3px 0 0;
      //background-color: #1bbdee #ff3008;
      background-color: $color;
      color: $white;
      border: unset;
      cursor: pointer;
    }
    button:hover {
      box-shadow: 0 0 8px -1px $border;
    }
    input {
      width: 90%;
      font-size: 2vh;
      padding: 4px 8px;
      border: 1px solid #c5c5c5;
      border-left-width: 0;
    }
  }
}