// Colors
$color: #0079da;
$black: #919191;
$white: #2e2e2e;
$lightGray: #232323;
$gray: #d6d6d6;
$border: #545151;

$darkest: #000;
$dark_white: #fff;

// Font Family
$font-family-base: 'Myanmar Text';
$font-family-base-2: 'Old English Text MT';
$font-family-2: Roboto;
$font-family-3: 'san-seirf';

// Font Sizes
$font-size-base: 1.8vh;
$font-size-base-l: 2vh;
$font-size-big: 2.4vh;
$font-size-x-big: 2.8vh;

// Width
$full: 100%;
$main-width: 64%